@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
  color: #383E45;
}

a {
  text-decoration: none;
  color: #383E45;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .header, .main__about__profile__text p, .main__bicycle__introduce li p {
  font-size: 0.9rem;
}

.font-md, .main__about__profile__text__name, .main__bicycle__introduce li h3 {
  font-size: 1rem;
}

.font-lr, .main-title, .main__about__section-title, .main__bicycle__section-title {
  font-size: 2rem;
}

.main-title, .main__about__section-title, .main__bicycle__section-title {
  display: inline-block;
  margin-bottom: 60px;
  border-bottom: solid 1px #383E45;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin: 0 auto;
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0;
  width: 120px;
  padding: 10px 0;
  cursor: pointer;
}

.header__logo a {
  margin: 0;
  display: block;
}

.header__navigation {
  line-height: 1;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin: 0;
}

.header__navigation li {
  list-style: none;
  margin-left: 30px;
  cursor: pointer;
}

.main {
  margin: 0 auto 100px auto;
}

.main__visual {
  margin-bottom: 80px;
}

.main__visual img {
  width: 100%;
  height: calc(100vh - 60px);
  -o-object-fit: cover;
     object-fit: cover;
}

.main__about {
  margin: 0 auto 100px auto;
  padding: 0 4%;
}

.main__about__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about__profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main__about__profile__text {
  text-align: left;
}

.main__about__profile__text__name {
  margin: 10px 0;
}

.main__about__profile__text p {
  margin: 0;
}

.main__bicycle {
  margin: 0 auto 100px auto;
  padding: 0 4%;
}

.main__bicycle__introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.main__bicycle__introduce li {
  width: 100%;
  margin-bottom: 30px;
}

.main__bicycle__introduce li h3 {
  margin: 10px 0;
}

.main__bicycle__introduce li p {
  margin: 0;
}

.footer {
  padding: 10px 0;
}

.footer__copyright {
  font-size: 0.5rem;
}

.footer__copyright p {
  margin: 0;
}

@media (min-width: 600px) {
  .header {
    max-width: 960px;
  }
  .main__visual img {
    height: 600px;
    max-width: 1920px;
  }
  .main__about {
    max-width: 960px;
  }
  .main__about__profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__about__profile img {
    margin-right: 30px;
  }
  .main__bicycle {
    max-width: 960px;
  }
  .main__bicycle__introduce {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__bicycle__introduce li {
    width: 32%;
  }
  .main__bicycle__introduce img {
    height: 71.6%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=styles.css.map */